body {
    background-image: url("../img/retro_bg_2.jpg");
    font-family: Georgia, Times, "Times New Roman", serif;
}

.ErrorBox {
    color: red;
}

.ErrorBox ul {
    list-style-type: none;
}

input[type="text"].invalid,
input[type="number"].invalid {
    border: 2px solid red;
    background: yellow;
    font-size: 1.1em;
}
.sample-box {
    border: 2px solid green;
    background: wheat;
    font-size: 2em;
}
