.TitleMain {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: -0.6rem;
}

.TitleSub {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
}
